header {
}

body {
    background: white;
    font-family: "Long Island", Georgia, Times, serif
}

div.header {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

section.page-body {
}

footer {
    font-size: small;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 400px;
}

.buttons {
    padding: 0;
    // margin: auto;
    // display: block;
    text-align: center;
}
